.landing-layout {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    
    @media (max-width: $bp-lg) {
        height: 70vh;
    }
    
}

.about-layout {
    position: relative;
    z-index: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
}

.contact-layout {
    min-height: 100vh;
    z-index:  2;
}

.container {
    padding: 0;
}