.landing-layout {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.about-layout {
    position: relative;
    padding: 2rem 0;
}

.contact-layout {
    height: 100vh;
    @include center-layout;
}
