#root {
    overflow: hidden;
    font: {
        family: $body-font;
        size: 16px;
        weight: 300;
    }

    background: {
        image: linear-gradient(0deg,
                hsl(324deg 92% 10%) 8%,
                hsl(335deg 30% 21%) 38%,
                hsl(340deg 9% 68%) 53%,
                hsl(300deg 100% 100%) 67%,
                hsl(191deg 22% 91%) 81%,
                hsl(191deg 23% 56%) 100%);
            size: cover;
            repeat: no-repeat;
            attachment: scroll;
        }
}   
h1, h2, h3, h4 {
    margin: 0;
    padding-bottom: 1rem;
    color: $chinese-violet;
    text-shadow: 2px 2px 12px $slate-gray;
    font: {
            size: 2rem;
            family: $header-font;
        }
}