.contact-card-layout {
    @include center-layout;
    position: absolute;
    z-index: 2;
    width: 90%;
    height: 90%;
}

.contact-bg {
    width: 100%;
}

.contact-card {
    padding: 2rem;
    @include center-layout;
    height: 80%;
    width: 90%;
    border-radius: 5%;
    background-color: rgba($cadet-gray, 0.75);

    h2 {
        color: white;
        font-size: 3rem;

        @media screen and (max-width: 576px) {
            text-align: center;
            font-size: 2.5rem;
        }
    }

    form {
        button {
            background-color: $dark-purple;

            &:hover {
                background-color: $chinese-violet;
            }
        }
    }
}