.footer-layout {
    padding: 1rem 0;
    height: 20vh;
    width: 100%;
    color: white;
    background-color: $dark-purple;
    display: flex;
    justify-content: space-around;
    gap:1rem;

    p {
        margin: 0;

    }

    a {
        color: white;
        &:hover {
            color: $cadet-gray;
        }
    }
}

.social-media-space {
    display: flex;
    align-items: center;
    justify-content: space-around;
}