.footer-layout {
    position: relative;
    height: 15vh;
    display: flex;
    align-items: center;
    margin: 0;
    z-index: 4;

    p {
        margin: 0;
    }
    color: white;
    background-color: $chinese-violet;

    a {
        color: white;

        &:hover {
            color: $cadet-gray;
        }
    }
}

.social-media-space {
    display: flex;
    align-items: center;
    justify-content: space-around;

}