.navigation {
    position: fixed;
    margin: 1.5rem;
    right: 0;
    display: flex;
    width: 50vw;
    height: 50px;
    justify-content: space-around;
    z-index: 5;

    .nav-elements {
        background-color: rgba(white, 0.5);
        height: 100%;
        width: 100%;
        @include center-layout;
        ul {
            height: 100%;
            width: 100%;
            @include center-layout;
            flex-direction: row;
            justify-content: space-around;
            a {
                @include center-layout;
                height: 100%;
                width: 100%;
                color: $dark-purple;
                text-decoration: none;

                font: {
                    family: $title-font;
                    size: 1.5rem;
                    weight: 600;
                }
                &:hover, &:active, &:focus {
                    background-color: $dark-purple;
                    color: white;
                    outline: none;
                }
            }
        }
    
    }
    @media (max-width: $bp-md) {
        margin: 0;
        left: 0;
        flex-direction: row-reverse;
        background-color: transparent;
        height:70px;
        width: 100vw;

        .nav-elements {
            display: none;
            position: fixed;
            background-color: white;
            height: 100vh;
            width: 100vw;
            ul{
                height: 100%;
                z-index: 3;
                flex-direction: column;
                justify-content: center;
                a {
                    @include center-layout;
                    height: 100%;
                    width: 100%;
                    animation: {
                        name:fade-in;
                        duration: 750ms;
                        timing-function: linear;
                    }
                    text-decoration: none;
                    color: $dark-purple;
                    font-size: 1.5rem;
                    font-family: $header-font;

                    &:nth-of-type(1) {
                        &:hover,&:active,
                            &:focus{
                            background-color: $chinese-violet;
                            outline: none;
                            color:white;
                        }
                    }
                    &:nth-of-type(2) {
                        &:hover,&:active,
                            &:focus {
                            background-color: $eggplant;
                            outline: none;
                            color: white;
                        }
                    }
                    &:nth-of-type(3) {
                        &:hover,&:active,
                            &:focus {
                            background-color: $dark-purple;
                            outline: none;
                            color: white;
                        }
                    }
                }
            }
        }
        .expand{
            z-index: 3;
            display: block;
            animation: slide-down 500ms linear;
        }
    }
    
    .menu-icon {
        display: none;
        @media (max-width: $bp-md) {
            z-index: 5;
            height: 70px;
            width: 70px;    
            display: block;
            border: none;
            background-color: rgba(white, 0.5);
            position: fixed;
            padding: 0 1rem;
            margin: 1.5rem;
            right: 0;
            border-radius: 100%;
            svg {
                height: 100%;
                width: 100%;
            }
            &:hover, &:active, &:focus {
                border: none;
                background-color: $dark-purple;
                color: white;
                outline: none;
            }
        }
    }
}






