.contact-card {
    background-color: white;
    margin-top: 2em;
    height: 768px;
    padding: 2rem ;
    border: 1px solid $primary-color;
    border-radius: 32px;
    box-shadow: 1px 1px 2rem darkgrey;
    h2 {
        text-align: center;
    }
}

.contact-layout {
    background-color: white;
}

.contact-bg {
    display: block;
    border-radius: 32px;
    box-shadow:  1px 1px 1rem darkgray;
    height: 100%;
}