#root {
    overflow: hidden;
    font: {
        family: $body-font;
        size: 16px;
        weight: 300;
    }

    background: {
            image: url('../../svg/spectrum-gradient.svg');
            size: cover;
            repeat: no-repeat;
            attachment: scroll;
        }
}
h1, h2, h3, h4 {
    margin: 0;
    padding-bottom: 1rem;
    color: $chinese-violet;
    text-shadow: 2px 2px 12px $slate-gray;
    font: {
            size: 2rem;
            family: $header-font;
        }
}

.navbar {
    background-color: rgba(255,255,255, 0.75);
    border-bottom: 6px solid white;
    border-top: 6px solid white;
}

.nav-link{
    color: black;
    &:hover, &:active, &:focus {
        color: $primary-color;
    }
}

.about-header {
    
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 72%, rgba(189,219,242,1) 95%, rgba(158,202,236,1) 100%);
    background: {
        size: cover;
        repeat: no-repeat;
        position: fixed;
    }

    h1 {
        font-size: 6rem;
        font-weight: 400;
        color: $primary-color;
        text-shadow: 2px 2px 12px darkgrey; 
    }
}

.about-section {
    background-color: white;
}


.footer-layout {
    color: white;
    background-color: $secondary-color;
    a {
        color: white;
        &:hover {
            color: $primary-color;
        }
    }
 }
