.navbar {
    z-index: 2;
    position: absolute;
    width: 100%;
}
.about-header {
    height: 30vh;
}

.about-section {
    padding: 2rem 4rem;
    margin: 2rem 0;
    .about-section-border{
        border-left: 5px solid $primary-color;
    }
}

.gallery-layout {
    padding: 1rem;
    height: 50vh;
    display: flex;
    justify-content: center;

    img {
        border: 2px solid $primary-color;
        box-shadow: 1px 1px 2rem black;
    }
}

.footer-layout {
    padding: 0 8rem;
    height: 25vh;
    display: flex;
    align-items: center;
}

.social-media-space {
    display: flex;
    align-items: center;
    justify-content: space-around;

}