.contact-layout {
    img {
        z-index: 2;
        width: 400px;
        height: 400px;
        @media (max-width: $bp-lg) {
                display: none;
        }
       
    }
}
.contact-card {
    padding: 2rem 0;
    position: relative;
    z-index: 2;
    border-radius: 1.5%;
    background-color: lighten($slate-gray, 20%);

    h2 {
        color: white;
        font-size: 3rem;

        @media (max-width: 576px) {
            text-align: center;
            font-size: 2.5rem;
        }
    }

    p {
        font-size: 1.25rem;
        color: white;
    }

    form {
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        label {
            font-size: 1.5rem;
            font-family: $header-font;
        }
        button {
            padding: 0.5rem;
            width: 300px;
            background-color: $slate-gray;
            border-radius: 10px;
            border: {
                left: none;
                right: none;
                top: none;
                bottom: 4px solid darken($slate-gray, 30%);
            }
            color: white;
            letter-spacing: 5px;
            text-transform: uppercase;
            margin-top: 2rem;
            font: {
                size: 1.25rem;
                weight: 600;
            }

            &:hover, &:active, &:focus {
                border: none;
                border: {
                    left: none;
                    right: none;
                    top: none;
                    bottom: 2px solid transparent;
                }
            }
            @media (max-width: $mobile--breakpoint) {
                width: 150px;
            }
        }
        .form-control {
            width: 100%;
            background-color: transparent;
            border: none;
            color: white;
            input, textarea {
                color: black;
                background-color: white;
                border: 2px solid $slate-gray;
                font-weight: 300;
            
            }
            ::placeholder {
                color: $slate-gray;
            }
        }
        @media (max-width: $mobile--breakpoint) {
            width: 90%;
        }
    }
    @include center-layout;
    @media (max-width: $mobile--breakpoint) {
        width: 355px;
    }
}
