.landing-layout {
    color: white;

    h1 {
        color: white;
        font-size: 6rem;
    }

    h2 {
        color: white;
        font-size: 4rem;
    }

    p {
        color: $chinese-violet;
        font-size: 2rem;
    }
}