$header-font:  'Prata', serif;
$body-font : 'Fira Sans',sans-serif;
$title-font: 'Grandstander',
cursive;

$primary-color: #9ecaec;
$secondary-color: #7A8D9C;

$dark-purple: #32021f;
$eggplant: #4b2e39;
$chinese-violet: #6c596e;
$slate-gray: #6f7d8c;
$cadet-gray: #77a0a9;

$tablet--breakpoint: 768px;
$mobile--breakpoint: 575.98px;

$bp-xs: 375px;
$bp-sm: 575px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;